@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
	font-family: 'Lacquer';
	src: url('Fonte/Lacquer-Regular.ttf') format('truetype');
	font-display: swap;
} */

:root {
	--bg: rgb(255, 255, 255);
	--fg: rgb(0, 0, 0);
	--accent: rgb(0, 222, 255);
	--glyph: 11.5vh;
	--gap: 0.15vw;
	--lineGap: clamp(14px, 1.8vw, 26px);
	--temp: 0.4s;
}


.effect{
	transition: all var(--temp);
}

body {
	margin: 0;
	font-family: 'JetBrains Mono', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
	color: var(--fg);
	background: var(--bg);
	overflow-x: hidden;
	
	display: grid;
	
	grid-template-areas: 
	'Header Main'
	'Not Footer'
	;

	column-gap: 0vw;
	grid-template-columns: 15vw auto;
}

header,main {
    padding: 5vh;
    padding-top: 7.5vh;
}

header{
	padding-right: 0vw;
}

.headerNav {
	grid-area: Header;
	opacity: 0;
	transition: opacity 650ms ease;
}

main{
	grid-area: Main;
	padding-left: 3vw;
	padding-right: 9vw;
}

footer{
	grid-area: Footer;
	padding-bottom: 7vh;
}

.headerNav nav {
	display: flex;
	flex-direction: column;
	gap: 0.5vh;
	text-align: end;
}

.headerNav a {
	text-decoration: none;
	color: var(--fg);
	font-size: 1.85vh;
	letter-spacing: 0.08em;
	font-weight: 600;
}

.headerNav a.isActive {
	color: var(--accent);
}

.AbaB:hover{
	color: #00E2FD;
}

.layer-letter{
	cursor: pointer;
}

.footerLogos {
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 650ms ease;

	padding-left: 2.5vw;
	padding-top: 7vh;
}

.footerLogos img {
	height: 4vh;
	width: auto;
	opacity: 1;
}

/* Scene */
.scene {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--lineGap);
	
	box-sizing: border-box;
}

.fullTitle {
	opacity: 1;
	pointer-events: auto;
	width: min(1050px, 100%);

	display: flex;
	flex-direction: column;
	gap: 2vh;
}

body.is-ready .headerNav {
	opacity: 1;
}

body.is-ready .footerLogos {
	opacity: 1;
}

.line {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: center;
	gap: var(--gap);
}

.word {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.spacer {
	width: calc(var(--glyph));
	height: 1px;
}

.glyph {
	position: relative;
	width: var(--glyph);
	height: calc(var(--glyph) * 1.15);
	flex: 0 0 auto;
	opacity: 1;
}

.glyph--initial {
	--fromX: 0px;
	--fromY: 0px;
	transition: transform 900ms cubic-bezier(0.22, 1, 0.36, 1);
	will-change: transform;
}

body.is-frame1 .glyph--initial {
	transform: translate(var(--fromX), var(--fromY));
}

.glyph--rest {
	opacity: 0;
	transition: opacity 650ms ease;
}

body.is-rest-visible .glyph--rest {
	opacity: 1;
}

.glyph img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	user-select: none;
	-webkit-user-drag: none;
}

.layer-map {
	opacity: 1;
}

.layer-letter {
	opacity: 0;
	transition: opacity 650ms ease;
}

body.is-frame2 .glyph--initial .layer-letter {
	opacity: 1;
}

body.is-rest-visible .glyph--rest .layer-letter {
	opacity: 1;
}

body.is-ready .glyph:hover .layer-letter {
	opacity: 0;
}

.hint {
	opacity: 0;
	transition: opacity 700ms ease;
	font-size: 12px;
}

.intro--settle .hint {
	opacity: 0.55;
}

.dateContentor{
	padding-top: 5vh;
	height: 10vh;
	display: flex;
	flex-direction: row;

	gap: 7.5vw;

	
}

.dateBox{
	display: flex;
	flex-direction: row;
	width: fit-content;
}

.dateBox > div{
	font-size: 7vh;
	font-weight: 700;
}

.dateContentor .dateBox:hover{
	cursor: pointer;
	scale: 1.15;
}


.programmContentor{
	display: flex;
	flex-direction: column;
	width: min(1050px, 100%);
	padding-top: 12.5vh;

	gap: 10vh;
}

.oradorContentor{
	width: 100%;
	display: grid;
	grid-template-columns: 60% auto;
}

.oradorContentor img{
	width: 80%;
}

.oradorContentor span{
	display: block;
}

.oradorInformation > span{
	padding-bottom: 1.5vh;
}

.oradorName{
	font-size: 3.5vh;
	font-weight: 600;
}

.oradorDate{
	font-size: 1.75vh;	
}

.oradorText{
	margin-right: 2.5vw;
}

#beforeTitle{
	padding-bottom: 15vh;
}

.beforeBox{
	display: grid;
	grid-template-columns: 40vw auto;
	column-gap: 7.5vw;
	padding-bottom: 15vh;
}

.beforeContentor{
	display: flex;
	flex-direction: column;
}

.beforeContentor > .dateBox{
	padding-bottom: 2.5vh;
}


.editionContent{
	display: flex;
	flex-direction: column;
}

.editionContent > span:nth-child(1){
	text-decoration: underline;
	font-size: 2.5vh;
}

.editionContent > span{
	padding-bottom: 2.5vh;
}

.speakers{
	display: flex;
	flex-direction: column;
}

.speakers > span:nth-child(1){
	font-size: 2.5vh;
	font-weight: 500;
	padding-bottom: 1.5vh;
}

.speakers > span:not(:nth-child(1)){
	font-size: 1.75vh;
}


#aboutTitle{
	padding-bottom: 10vh;
}

.aboutContentor{
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.textAbout{
	display: block;
	font-size: 1.8vh;
	padding-bottom: 2vh;
}

.textAboutContentor{
	padding-bottom: 7.5vh;
}

.orgBox{
	display: flex;
	flex-direction: column;
}

.aboutTitles{
	font-size: 4vh;
	font-weight: 400;
	padding-bottom: 2.5vh;	
}

.abBox{
	display: flex;
	flex-direction: column;
	padding-bottom: 10vh;
}


body.not-home .footerLogos,
body.not-home div[style*="grid-area: Not"] {
	background: #00E2FD;
}

#programmTitle .layer-letter,
#aboutTitle .layer-letter,
#beforeTitle .layer-letter {
	opacity: 0 !important;
	transition: opacity 800ms ease-in-out;
}

#programmTitle.show-title .layer-letter,
#aboutTitle.show-title .layer-letter,
#beforeTitle.show-title .layer-letter {
	opacity: 1 !important;
}

body.is-ready #programmTitle .glyph:hover .layer-letter,
body.is-ready #aboutTitle .glyph:hover .layer-letter,
body.is-ready #beforeTitle .glyph:hover .layer-letter {
	opacity: 0 !important;
}


@media (max-width: 520px) {
	:root {
		--glyph: clamp(36px, 9vw, 68px);
	}
}
